<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>


</head>
<body>

<div th:replace="fragments/header :: header(tab='orders')">
    TOP NAVIGATION
</div>

<div class="row">
    <div class="col-8">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Eingangsdatum</th>
                    <th scope="col">Abholdatum</th>
                    <th scope="col">Abholnummer</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="receivedOrder : ${orders}" th:onclick="'showDetails(' + ${receivedOrder.id} + ')'">
                        <th scope="row" th:text="${receivedOrder.id}"></th>
                        <td th:text="${receivedOrder.orderReceivedDatetimeTranslated}"></td>
                        <td th:text="${receivedOrder.dueDatetimeTranslated}"></td>
                        <td th:text="${receivedOrder.pickUpNumber}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <div id="order-details"></div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="/js/lib/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>

    function showDetails(orderId) {
        console.log("Show details of order with id: " + orderId);
        var url = "/orders/details/" + orderId;

        $.get(url, function(data) {
            $("#order-details").html(data);
        });
    }

</script>

</body>
</html>