<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

</head>
<body>

    <style>
        .btnEdit, .btnDelete {
            width:100% !important;
        }
    </style>

    <div th:replace="fragments/header :: header(tab='menu')">
        TOP NAVIGATION
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="list-group" id="sideMenu" style="padding-top: 20px;">
                    <button type="button" id="categories" class="list-group-item list-group-item-action active">Kategorien</button>
                    <button type="button" id="products" class="list-group-item list-group-item-action">Produkte</button>
                    <button type="button" id="additives" class="list-group-item list-group-item-action">Zusätze</button>
                </div>
            </div>
            <div id="menu-main-content" class="col-9">
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="/js/lib/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script>

        $("#sideMenu button").click(function() {

            $("#sideMenu button").each(function () {
               $(this).removeClass("active");
            });
            $(this).addClass("active");

            var url = "/menu/updateContent/" + $(this).attr("id");
            console.log("Update main content to " + $(this).attr("id") + " with URL: " + url);

            $.get(url, function(data) {
                $("#menu-main-content").html(data);
            });
        });

        $("#main-categories .list-group-item").click(function() {

            $("#main-categories .list-group-item").each(function () {
                $(this).removeClass("active");
            });

            $(this).addClass("active");
        });
    </script>
</body>
</html>